/*-----------------version ordi-----------------*/

@media screen and  (max-width:1190px)

{
  .hebergements-marseille
 {
    display: grid;
    grid-template-columns: (1,1fr);
    grid-template-areas: "a"
                         "b";
}
.gallery-hebergements
{
  grid-area: b;
}
  .cote-populaire
  {
    grid-area: a;
    width: 30rem;
  }
  
}


/*------------------tel--------------------------*/
@media screen and (min-width:320px) and (max-width:500px)
{
  
    header
    {
        display: block;
        margin: 0;
        width: 100%;
    }
    .logo
    {
       padding-top: 1rem;
       margin-left: 2rem;
    }
    ul
    {
        display: flex;
        width: 100%;
        justify-content:none;
    }

   
    .Hébergements
    
    {
       text-decoration: none;
       border-top: none;
       
     
       display: flex;
       font-size: 1rem;
       padding-bottom: 0.5rem;
      padding-top: 0;
      justify-content: center;
     
      
       color: #0065FC;
      }
      li
      {
        margin-left: inherit;
        margin-right: unset;

      }
      
      li.nav1-portable
      {
border-bottom: 0.3rem solid #0065FC;
display: list-item;
width: 50%;
      }
      .Activités
    
    {
    
      display: flex;
      padding-bottom: 0.5rem;
      font-size: 1rem;
      justify-content: center;
    }
    li.nav2-portable
    {
      border-bottom: 0.3rem solid #f2f2f2;
      display: list-item;
      width: 50%;
     
    }
    
   .Activités:hover
   {
     border-top: unset;
     padding-top: 0;
   }
   .Inscription:hover
   {
     border-top: none;
     padding-top: 0;
   }
    
    .Inscription
    {
      text-decoration: none;
      color: #0065FC;
      position: absolute;
      top: 2rem;
     right: 5%;
     
    font-size: 1rem;
      font-weight: bold;
    }
    

  h1

{
font-size: 1.3rem;
line-height: 2rem;
width: 18rem;
margin-left: 2rem;


margin-bottom: 0;


}

div.description
{
    width: 20rem;
    margin-left: 0rem;
    margin-left: 0rem;
}
span
{ color:black;
font-size: 0.9rem;
line-height: 2rem;
margin-left: 2rem;

  }
  div.search
  {
    margin-left: 2rem;
    margin-top: 2rem;
  }

  form.search
  {
      margin-top: 2rem;
  }
 input#text
 {
     padding: 0rem -0.5rem 0 3rem;
     font-size: 1rem;
     margin-right: 4px;
     
 }
button.boutton
  {
     display: none;
  }

  .loupe
  {
      visibility: visible;
      border: 0.1rem #f2f2f2;
      display: inline-flex;
     background-color: #0065FC;
      left: 4rem;
      height: 45px;
      width: 45px;
      border-radius: 15px 15px 15px 15px;
      margin-left: -1rem;
  
  }
  i.fab.fa-sistrix::before
  {
      color: white;
      display: flex;
     margin-top: 1rem;
     margin-left: 1rem;
     font-size: bold;

    
  }
div.Filtres
  {
    margin-left: 0;
    padding-left: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "a a"
                         "b c"
                         "d d"
                         "e e";
    grid-row-gap: 1rem;
  }
  h2.filters
  {
    grid-area: a;
    font-size: 1.2rem;
    margin-left: 1rem;
  }
.filtre1
{
  grid-area: b;
  width: 6.1rem;
  margin-left: 2rem;
}
.filtre2
{
  grid-area: c;
  width: 4rem;
  margin-left: 0.5rem;
}
.filtre3
{
  width: 5.9rem;
  grid-area: d;
  margin-left: 2rem;
}
.filtre4
{
  width: 9rem;
  grid-area: e;
  margin-left: 2rem;
}

div.information
{
  padding-left: 2rem;
  margin-left: 2rem;
  font-size: 1rem;
 
}
i.fas.fa-info::before
{
  left:0rem;
}
.croissance{
  margin-top: 1rem;
}
h2.title-populaire
{padding-left: 0rem;
margin-left:1rem ;}

  div.les-plus-populaires
  {
    width: 100vw;
    margin-right: 0rem;
    height: 34rem;
  }
  .cote-populaire
  {
    width: 100%;
  }
  .gallery-populaires
{
  height: 36.5rem;
  margin-left: 0rem;
  margin-right: 0rem;
  padding: 0rem 1.5rem 0.5rem 1.5rem;
 
}
.item7
{
width: 82vw;
margin-bottom: 1rem;
margin-left: 1rem;
height: 7rem;
}
.item8
{
  width:82vw;
  margin-bottom:1rem;
  margin-left: 1rem;
  height: 7rem;
}
.item9
{
  width: 82vw;
  margin-bottom: 1rem;
  margin-left: 1rem;
  height: 7rem;
}
.hebergements-images-populaires
{
  width: 28vw;
  height: 7.5rem;
}


.gallery-hebergements
    {
      display: grid;
      grid-column-gap: 0px;
      grid-row-gap:1rem;
      
      grid-template-columns: repeat(1,1fr);
      width:90%;
     
      background-color:white;
      border-radius: 0 0 0 0;
      margin-left: 1.5rem;
      width: 20rem;
      height: fit-content;
      margin-top:0rem;
      margin-bottom: 0;
      padding-bottom: 0;
      padding-right: 0rem;
      
      

      
      grid-template-areas:

                    "a"
                    "b"
                    "c"
                    "d"
                    "e" 
                    "f"
                    "g"
                    "h";
      align-items:flex-end;
    }
    .hebergements-image
    {
      width: 81vw;
      height: 9rem;
    }
    .titre-partie1
    {
      grid-area: a;
      margin-top: 4rem;
  font-size: 1.2rem;
  margin-left: -1rem;
    }
    .item1 {
      grid-area: b;
      width: 82vw;
    margin-left: -1rem;
    height: 14.1rem;
    
    }
    .item2 {
      grid-area: c;
      
      width: 82vw;
      margin-left: -1rem;
      height: 14.1rem;
    }
    .item3 {
      grid-area: d;
      width: 82vw;
      margin-left: -1rem;
      height: 14.1rem;
    }

    .item4 {
      grid-area: e;
      width: 82vw;
      margin-left: -1rem;
      margin-bottom: 0rem;
      height: 14.1rem; 
    }
    .item5 {
      grid-area: f;
      width: 82vw;
      margin-bottom: 0rem;
      margin-left: -1rem;
      height: 14.1rem;
    }
    .item6 {
      grid-area: g;
      width: 82vw;
      margin-bottom: 0rem;
      margin-left: -1rem;
      height: 14.1rem;
    }

div.afficher
{
  grid-area: h;
  padding-top: 1rem;
  padding-left: 0;
  margin-left: -0.9rem;
  padding-bottom: 3rem;
  
}
h2.title-section-deux
{
  margin-left: 2.5rem;
    padding-top: 0rem;
    font-size: 1.3rem;
}
    .gallery-activites
    {
      margin-left: 1.5rem;
        margin-top: 0rem;
      grid-template-columns: repeat(1,6fr);
      grid-template-areas: 
                           "a"
                           "b"
                           "c"
                           "d"
                           "e"
                           "f";
     grid-row-gap: 1.5rem;
     width: 95%;
    }
    .port {
      grid-area: a;
      width: 82vw;
      margin-left: 1rem;
  height: 14.1rem;
    }
    .fort {
      grid-area: b;
      width: 82vw;
      height: 14.1rem;
      margin-left: 1rem;
    }
    .iles {
      grid-area: c;
      width: 82vw;
     margin-left: 1rem;
      height: 14.1rem;
    }
    .calanques {
      grid-area: d;
      width: 82vw;
      height: 14.1rem;
      margin-left: 1rem;
    }
    .garde {
      grid-area: e;
     width: 82vw;
      height: 14.1rem;
      margin-left: 1rem;
      margin-right: 0;
      margin-bottom: 0;
    }
    .parc{
      grid-area: f;
     width: 82vw;
      height: 14.1rem;
      margin-left: 1rem;
      margin-right: 0;
     
    }    
.activites-marseille
{
  margin-top: -1rem;
}
.activites-image
{
  width: 82vw;
  height: 11rem;
}

.activites-image-grande
{
  width: 82vw;
  height: 11rem;
}
.activites-image-iles
{
  width: 82vw;
  height: 11rem;
}
.activites-image-fort
{
  width: 82vw;
  height: 11rem;
}


.contenu-footer
{
  grid-template-columns: repeat(1, 3fr) ;
  grid-template-areas: 
  "a"
  "b"
  "c";

  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  height: auto;
  }
 a.identique
 {
   padding-left: 1.5rem;
 }
ul.rangement
{
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  margin-left: -0.5rem;
  padding:0 0 0 0;
 
}

  .footer-services1
  {
    grid-area: a;
    margin-top: 2rem;
    margin-left: 1rem;
    width: 22rem;
  
   
   }
h3.titre-footer1
{
  padding-left: 0rem;
  width:19rem; 
  margin-left: 0.9rem;
  
}
h3.titre-footer2
{
  margin-left: 0.9rem;
}
h3.titre-footer3
{
  margin-left: 0.9rem;
}
  .footer-services2
  {
    grid-area:b;
    
    margin-top: 0;
    margin-bottom: 0rem;
    grid-area:b;
    margin-left: 1rem;
    width: 21rem;
  }
  .footer-services3
  {
    grid-area: c;

    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: 1rem;
    padding-right: 0rem;
    grid-area: c;
    width: 16rem;
  padding-left: 0;}

 li.alignement
 {
   margin-left: -0.5rem;
 }
 a.identique
 {
   padding-left: 1.8rem;
 }
  }
















/*-------------tablette---------*/

@media screen and (min-width:501px) and (max-width:768px)
 {
.logo{
  margin-right: 2rem;
}
  ul.onglet
  {
    display:contents ;
  }
  div.Filtres
  {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "a a"
                         "b c"
                         "d e";
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
  }
  .filters
  {
    grid-area: a;
    
  }
.filtre1
{
  grid-area: b;
  width: 7rem;
}
.filtre2
{
  grid-area: c;
  width: 5rem;
 
}
.filtre3
{
  grid-area: d;
  width: 7rem;
}
.filtre4
{
  grid-area: e;
  width:9rem;
  
}
.gallery-populaires
{
  width: 80vw;
 
}
.item7
{
width: 80vw;
}
.item8
{
  width:80vw
}
.item9
{
  width: 80vw;
}
.hebergements-images-populaires
{
  width: 30vw;
}


.footer-services3
{
  padding-right: 0rem;
}
.gallery-hebergements
{
  display: grid;
  grid-template-columns: repeat(2, 1fr) ;
  grid-column-gap: 1rem;
  grid-row-gap: 0rem;
  width:80vw;
  height: 46rem;
  margin-left: 0;
    margin-bottom: 3rem;
 padding-left: 1rem;
 padding-right: 6rem;
  grid-template-areas: 
              
                "a a"
                "b c"
                "d e"
                "f g"
                "h h";
  align-items:flex-end;
}
.titre-partie1
{
  grid-area: a;
  font-size: 1.5rem;
}

.item1 {
  grid-area: b;
  width: 44vw;
  margin-left: 0;
  
}
.item2 {
  grid-area: c;
  width: 44vw;
  margin-left: 0;
}
.item3 {
  grid-area: d;
  width: 44vw;
  margin-bottom: 0rem;
  margin-left: 0;
}
.item4 {
  grid-area: e;
  width: 44vw;
  margin-bottom: 0;
  margin-left: 0;
}
.item5 {
  grid-area: f;
  width: 44vw;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.item6 {
  grid-area: g;
  width: 44vw;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.afficher
{
  grid-area: h;
  padding-top: 3rem;
}
.hebergements-image
{width: 43vw;}

h2.title-section-deux
{
  padding-top: 2rem;
}
.gallery-activites
{
  
  padding-top: 0rem;
display: grid;
      grid-template-columns: repeat(2, 1fr) ;
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
     width: 100%;
      
      
      grid-template-areas: 
                    "a b"
                    "c d"
                    "e f";
      align-items:flex-end;
    }
.port{
  grid-area: a;
  width: 40vw;
  margin-left: 2rem;

}
.fort
{
  grid-area: b;
  width: 40vw;
  margin-left: -4em;
}
.iles{
  grid-area: c;
  width: 40vw;
  margin-left: 2rem;
}
.calanques
{
  grid-area: d;
  width: 40vw;
  margin-left: -4rem;
}
.garde
{
  grid-area: e;
  width: 40vw;
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.parc
{grid-area: f;
  margin-bottom: 2rem;
  margin-left: -4rem;
width: 40vw;}
 

 .activites-image-grande
 {
 
 width: 40vw;
 height:200px;
 }
 .activites-image
 { 
   width: 40vw;
   height:200px;
 }
 
 .activites-image-fort
 {
   width: 40vw;
   height:200px;
 }
 
 .activites-image-iles
 {
   width: 40vw;
   height:200px;
  
 }
 .contenu-footer
{
  grid-template-columns: repeat(1, 3fr) ;
  grid-template-areas: 
  "a"
  "b"
  "c";

  grid-column-gap: 0rem;
  grid-row-gap: 1rem;
  height: auto;
  width: 100vw;}
 

  .footer-services1
  {
    grid-area: a;
    margin-top: 2rem;
    margin-left: 1rem;
   }
.titre-footer1
{
  width:20rem;
}
  .footer-services2
  {
    grid-area:b;
    
    margin-top: 0;
    margin-bottom: 0rem;
    grid-area:b;
    margin-left: 1rem;
  }
  .footer-services3
  {
    grid-area: c;

    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: 1rem;
    padding-right: 0rem;
    grid-area: c;
    
  padding-left: 0;}


  
 }

  /*----------ordi adaptation-----------*/
@media screen and (min-width:769px) and (max-width:860px)
{
  div.Filtres
  {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "a a"
                         "b c"
                         "d e";
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
  }
  .filters
  {
    grid-area: a;
    
  }
.filtre1
{
  grid-area: b;
  width: 7rem;
}
.filtre2
{
  grid-area: c;
  width: 5rem;
 
}
.filtre3
{
  grid-area: d;
  width: 7rem;
}
.filtre4
{
  grid-area: e;
  width:9rem;
 
}
}
  @media screen and (min-width:769px) and (max-width:1190px)
{




  .gallery-populaires{

    
      width: 70rem;
      height:28rem;
      display: grid;
      grid-template-columns: (3,1fr);
      grid-template-areas: 
                         "a a"
                         "b c"
                         "d d";
                         grid-column-gap: 1.5rem;

}
.croissance
{
grid-area: a;
padding-bottom: 0.5rem;
display: flex;
justify-content: space-between;
}
.item7
{grid-area: b;
padding-left: 0.3rem;
padding-bottom: 1rem;


border-radius: 1rem 1rem 1rem 1rem;
background-color: white;
height: 7rem;
width: 42vw;
margin-bottom: 2rem;

box-shadow: 0 4px 8px 0
rgba(0,0,0,0.2);
cursor: pointer;
display: flex;
}

.item8
{
grid-area: c;
padding-left: 0.3rem;

padding-bottom: 1rem;

border-radius: 1rem 1rem 1rem 1rem;
background-color: white;
height: 7rem;
width:42vw;
margin-bottom: 2rem;
cursor: pointer;

box-shadow: 0 4px 8px 0
rgba(0,0,0,0.2);
display: flex;
}

.item9
{
grid-area: d;
padding-left: 0.3rem;

padding-bottom: 1rem;


border-radius: 1rem 1rem 1rem 1rem;
background-color: white;
height: 7rem;
width: 42vw;
margin-bottom: 2rem;
margin-left: 12rem;

box-shadow: 0 4px 8px 0
rgba(0,0,0,0.2);
cursor: pointer;
display: flex;

}
.hebergements-image
{
  width: 24.6vw;
}
.gallery-hebergements
{
  width: 80vw;
}
.item1
{
  width: 25vw;
  
}
.item2
{
 width: 25vw;
 
}
.item3
{
width: 25vw;

}
.item4
{
width: 25vw;

}
.item5
{
width: 25vw;

}

.item6 
{
width: 25vw;

}
h2.title-section-deux
{
  padding-top: 4rem;
}

.hebergements-images-populaires
    {
      width: 15vw;
    }
       .gallery-activites
        {
  
        padding-top: 0rem;
     display: grid;
      grid-template-columns: repeat(4, 1fr) ;
      grid-column-gap: 1.5rem;
      grid-row-gap: 2rem;
     width: 100%;
      
      
      grid-template-areas: 
                    "a b c"
                    "d e f";
      align-items:flex-end;
    }

    .port {
      
      margin-left: 2rem;
      width: 30vw;
     }
    .fort {
      grid-area: b;
      border-radius: 1rem 1rem 1rem 1rem;
      background-color: white; 
      cursor: pointer;
      width: 30vw;
      
      box-shadow: 0 4px 8px 0
      rgba(0,0,0,0.2);
    }
    .iles {
      grid-area: c;
      border-radius: 1rem 1rem 1rem 1rem;
      background-color: white;
     cursor: pointer;
     width: 30vw;
      
      
      
      box-shadow: 0 4px 8px 0
      rgba(0,0,0,0.2);
    }
    .calanques {
      grid-area: d;
      margin-left: 2rem;
      border-radius: 1rem 1rem 1rem 1rem;
      background-color: white;
     cursor: pointer;
     width: 30vw;
      
      
      box-shadow: 0 4px 8px 0
      rgba(0,0,0,0.2);
    }
     .garde {
      grid-area: e;
      border-radius: 1rem 1rem 1rem 1rem;
      background-color: white;
      margin-right: 0rem;
      margin-bottom: 0rem;
      cursor: pointer;
      
      box-shadow: 0 4px 8px 0
      rgba(0,0,0,0.2);
     }
     .parc{
      grid-area: f;
      border-radius: 1rem 1rem 1rem 1rem;
      background-color: white;
      margin-right: 6rem;
      cursor: pointer;
      width: 30vw;
      
      box-shadow: 0 4px 8px 0
      rgba(0,0,0,0.2);
    }
h3.titre-activites
{
  font-size: 0.9rem;
}
    .activites-image-grande
{

width: 30vw;
height:150px;
}
.activites-image
{ 
  width: 30vw;
  height:150px;
}

.activites-image-fort
{
  width: 30vw;
  height:150px;
}

.activites-image-iles
{
  width: 30vw;
  height:150px;
 
}
h2.title
{
  top: 66rem;
}


  }


    /*---------------------4k-----------------------*/
    @media screen and (min-width:2060px)
    {
        .container
        {
        width: 1400px;
       margin-left: 40rem;
        }
        div.afficher
        {
        margin-left: 0rem;
       }
    
    .item1
    {
      width: 9vw;
    }
    .item2
    {
     width: 9vw;
    }
    .item3
    {
    width: 9vw;
    }
    .item4
   {
    width: 9vw;
    }
     .item5
    {
      width: 9vw;
     }

     .item6 
      {
      width: 9vw;
      }
      .item7
      {
       width:15vw;
     }
        .item8
     {
       width: 15vw;
     }
     .item9
     {
     width:15vw;
      }
    .gallery-populaires
    {
      width: 15vw;
    }
    .hebergements-images-populaires
    {
      width: 6vw;
    }
    .hebergements-image
    {
      width: 8.8vw;}
      .gallery-hebergements
      {
        width: 30vw;
      }
      .gallery-activites
      {
        grid-row-gap: 1rem;
       width: 94%;
      }

      .port {
      
        margin-left: 3rem;
        width: 12vw;
        margin-right: 1rem;
       }
      .fort {
        
        width: 12vw; 
      }
      .iles 
      {
      
       width: 12vw;
        
      }
      .calanques {
       
       width: 12vw;
        
      
      }
       .garde {
        width: 13vw;
        margin-bottom: 0;

       }
       .parc{
        
        width: 13vw;
        
      }
  
      .activites-image-grande
  {
  
  width: 12vw;
  
  }
  .activites-image
  { 
    width: 13vw;
    height:150px;
  }
  
  .activites-image-fort
  {
    width: 12vw;
    height:150px;
  }
  
  .activites-image-iles
  {
    width: 12vw;
    height:150px;
   
  }
  .contenu-footer
  {
    width: 175rem;
    margin-left: -40rem;
  }
  .footer-services1
  {
    margin-left: 42rem;
  }
  .footer-services2
  {
    margin-left: 13rem;
  }
  .footer-services3
  {
    margin-left: -10rem;
  }
  }
