/*-----------------version iphone 6 7 8-----------------*/


/*--------header--------*/
@media screen and (max-width:650px)


{
header
{
    display: block;
    margin: 0;
    width: 100%;
}
.logo
{
   padding-top: 1rem;
}
ul
{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.Hébergements

{
   text-decoration: none;
   border-top: 0rem solid;
   border-bottom: 0.3rem solid #0065FC;
   width: 50%;
   display: flex;
   font-size: 1.3rem;
   padding-bottom: 0.5rem;
  padding-top: 0;
  padding-left: 12rem;
  margin-left: 6rem;
  margin-right: 0rem;
  
   color: #0065FC;
  }
  .Activités

{
  border-bottom: 0.3rem solid #f2f2f2;
  display: flex;
  
  padding-bottom: 0.5rem;
  padding-right: 9rem;
 
  font-size: 1.3rem;

  width: 50%;
  
  
}

.Inscription
{
  text-decoration: none;
  color: #0065FC;
  position: absolute;
  top: 2rem;
  left: 26rem;
 
font-size: 1.4rem;
  font-weight: bold;
}
h1

{
font-size: 1.7rem;
line-height: 2rem;

margin: 0 0 0 0;


}

.description
{
    width: 100%;
}
span
{ color:black;
font-size: 1.2rem;
line-height: 3rem;

  }

  form.search
  {
      margin-top: 2rem;
  }
 input#text
 {
     padding: 0.5rem 1rem;
 }
button.boutton
  {
      visibility: hidden;
  }

  .loupe
  {
      visibility: visible;
      border-radius: 15px 15px 15px 15px;
      background-color: #0065FC;
      border: 0.1rem #f2f2f2;
      padding: 1.2rem 1rem 1rem 1.2rem;
      margin-left: 0rem;
      height: 45px;
      
     
     
  }
  i.fab.fa-sistrix::before
  {
      color: white;
  }
div.Filtres
  {
      display: flex;
      flex-direction: column;
  }
  div.economique
  {
    color: black;
    border: solid #f2f2f2 0.1rem;
    padding: 0.8rem 1.2rem 0.8rem 4rem;
    border-radius: 25px 25px 25px 25px;
    position: relative;
    font-family: 'Raleway';
    display: flex;
    font-size: 1.2rem;
    
  }
  
  i.fas.fa-money-bill-wave::before
  {
    padding: 0.8rem 0.8rem;}
  div.familial
  {
    color: black;
    margin: 0rem;
    border: solid #f2f2f2 0.1rem;
    padding: 0.8rem 1.2rem 0.8rem 4rem;
    border-radius: 25px 25px 25px 25px;
    position: relative;
    font-family: 'Raleway'; 
    position: absolute;
    top: 25.7rem;
    left: 17rem;
    font-size: 1.2rem;
  }
  i.fas.fa-child::before
  {
   
    padding: 0.9rem 0.9rem ;
    border-radius: 30px 30px 30px 30px;
    border: solid #f2f2f2 0.1rem;
    background-color: #deebff;
   
    color: blue;
    position: absolute;
    top:25.7rem;
    right: 3.6rem;
  }

  div.romantique
  {
    color: black;
    
    border: solid #f2f2f2 0.1rem;
    padding: 0.8rem 1.2rem 0.8rem 4rem;
    text-justify: auto;
    border-radius: 25px 25px 25px 25px;
    position: relative;
    font-family: 'Raleway';
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    
  }
  i.fas.fa-heart::before
  { 
    padding: 0.9rem 0.9rem;}

  div.animaux
  {
    color: black;
    border: solid #f2f2f2 0.1rem;
   
    padding: 0.8rem 1.2rem 0.8rem 4rem;
    border-radius: 25px 25px 25px 25px;
    position: relative;
   white-space: normal;
 word-spacing: 0.2rem;
 font-family: 'Raleway';
 font-size: 1.2rem;
    }
    i.fas.fa-dog::before
  {
    padding: 0.9rem 0.9rem;
    border-radius: 30px 30px 30px 30px;
  }
    div.information
    {
      padding-top: 2rem;
     padding-left: 3rem;
     padding-bottom: 2rem;
    font-size: 1.1rem;
    color:darkgray;
    font-weight: normal;
    position: relative;
    font-family: 'Raleway';
    margin-left: 1rem;
    width: 22rem;      
 
}
i.fas.fa-info::before
  {
  
    color: #0065FC;
    border: solid #f2f2f2 0.1rem;
    border-radius: 30px 30px 30px 30px;
    font-size: 0.6rem; 
    padding: 0.3rem 0.5rem;
    top:1.9rem;
   
    left: 1rem;
   position: absolute;
  
}
}

/*partie hebergement*/

 @media screen and (max-width:650px)
 {
    h2.title
    {
        position: absolute;
        top: 90rem;
        left:2rem;
        font-size: 1.4rem;
        
    }
    .hebergements-image
    {
     background-size: cover;
     width: 460px;
     height:160px;
     border-radius: 1rem 1rem 0 0;
     margin-right: 0.3rem;
    
     display: flex;
     object-fit: cover;
     }
    .gallery-hebergements
    {
      display: grid;
      grid-column-gap: 0px;
      grid-row-gap:1rem;
      grid-template-rows:  repeat(6,0fr);
      width:100%;
     
      background-color:white;
      border-radius: 0 0 0 0;
      margin-left: 0;
      width: 10rem;
      height: fit-content;
      margin-left: 0;
      margin-top:3rem;
      margin-bottom: 0;
      padding-bottom: 0;
      

      
      grid-template-areas: 
                    "a"
                    "b"
                    "c"
                    "d"
                    "e" 
                    "f";
      align-items:flex-end;
    }
    .item1 {
      grid-area: a;
      cursor: pointer;
      margin-left: 0rem;
      height: 270px;
      
      
    }
    .item2 {
      grid-area: b;
      cursor: pointer;
      margin-left: 0rem;
      height: 270px;
    }
    .item3 {
      grid-area: c;
      cursor: pointer;
      margin-left: 0rem;
      height: 270px;
    }

    .item4 {
      grid-area: d;
      cursor: pointer;
      margin-left: 0rem;
      margin-bottom: 0rem;
      margin-top: 0rem;
      height: 270px;
    }
    .item5 {
      grid-area: e;
      cursor: pointer;
margin-left: 0rem;
margin-bottom: 0rem;
height: 270px;
    }
    .item6 {
      grid-area: f;
      cursor: pointer;
      margin-left: 0rem;
      height: 270px;
    }
    div.afficher
    {
      position: absolute;
     top: 201rem;
     left: 2rem;
    
     font-size: 1.3rem;
     font-weight: bold;
     
    
    }
    h3.titre-hebergement
    {
        font-size: 1.4rem;
    }
    p.caption
    {
        font-size: 1.3rem;
        line-height: 0.6rem;
    }
    div.grade-stars
    {
        font-size: 1rem;
        
    }
 }
 /*partie populaire*/

 @media screen and (max-width: 650px)
 {
 .hebergements-marseille
 {
    display: grid;
    grid-template-columns: (1,1fr);
    grid-template-areas: "a"
                         "b";
}
.gallery-hebergements
{
  grid-area: b;
}
  .cote-populaire
  {
    grid-area: a;
  }
  .les-plus-populaires
  {
      margin:0 0 0 0;
      padding: 0 0 0 0;
  }
 
.gallery-populaires
{background-color: #f2f2f2;
  border-radius: 1rem 1rem 1rem 1rem;
  padding: 0rem 1rem 1.5rem 1rem;
  margin-right: 0rem;
  display: grid;
  grid-template-rows: repeat(4,0fr) ;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: 0rem;
 margin-bottom: 0.5rem;
padding-top: 1.5rem;
height: 40rem;
width: 31.5rem;
  
 
  
  
  grid-template-areas: 
                "a"
                "b"
                "c"
                "d";
  
}
.hebergements-images-populaires
{
  background-size: cover;
    width: 155px;
    height:166px;
    border-radius: 1rem 0rem 0 1rem;
    margin-top: 0.3rem;
    display: flex;
    object-fit: cover;
}

.croissance
{
  grid-area: a;
  padding-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;}

i.fas.fa-chart-line::before
{
    font-size: 1.6rem;
}

h2.title-populaire
{
font-size: 1.6rem;
}

.item7
{grid-area: b;

margin-left: 0.5rem;
padding-bottom: 1rem;


border-radius: 1rem 1rem 1rem 1rem;
background-color: white;
height: 10rem;
width: 29rem;
margin-bottom: 2rem;

box-shadow: 0 4px 8px 0
rgba(0,0,0,0.2);
cursor: pointer;
display: flex;
}

.item8
{
  grid-area: c;
 
  margin-left: 0.5rem;
padding-bottom: 1rem;

  border-radius: 1rem 1rem 1rem 1rem;
background-color: white;
height: 10rem;
width: 29rem;
margin-bottom: 2rem;
cursor: pointer;

box-shadow: 0 4px 8px 0
rgba(0,0,0,0.2);
display: flex;
}

.item9
{
  grid-area: d;
  
  margin-left: 0.5rem;
padding-bottom: 1rem;


  border-radius: 1rem 1rem 1rem 1rem;
background-color: white;
height: 10rem;
width: 29rem;
margin-bottom: 2rem;

box-shadow: 0 4px 8px 0
rgba(0,0,0,0.2);
cursor: pointer;
display: flex;

}
h3.titre-hebergement-populaires
{
font-size: 1.4rem;
line-height: 1.5rem;
}

p.caption-populaires
{  
font-size: 1.3rem;
line-height: 0rem;
}

.grade-stars-populaires
{
  color:#0065FC;
  
  display: flex;
  font-size: 1.2rem;
  padding-top: 1.8rem;
  
}
 /*----------partie activites-------------*/

 h2.title-section-deux
 {
     font-size: 1.7rem;
 }
 h3.titre-activites
 {
     font-size: 1.4rem;
 }
.gallery-activites
{
    margin-top: 3rem;
  grid-template-columns: repeat(1,6fr);
  grid-template-areas: 
                       "a"
                       "b"
                       "c"
                       "d"
                       "e"
                       "f";
 grid-row-gap: 1.5rem;
}
.port {
    grid-area: a;
    margin-left: 2.5rem;
  margin-right: 8rem;
    
    border-radius: 1rem 1rem 1rem 1rem;
background-color: white;
cursor: pointer;


box-shadow: 0 4px 8px 0
rgba(0,0,0,0.2);
height: 235px;
  }
  .fort {
    grid-area: b;
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: white; 
    cursor: pointer;
    margin-left: 2.5rem;
    margin-right: 8rem;
    
    
    box-shadow: 0 4px 8px 0
    rgba(0,0,0,0.2);
    height: 235px;
  }
  .iles {
    grid-area: c;
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: white;
   cursor: pointer;
    margin-left: 2.5rem;
    margin-right: 8rem;
    
    
    box-shadow: 0 4px 8px 0
    rgba(0,0,0,0.2);
    height: 235px;
  }
  .calanques {
    grid-area: d;
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: white;
   cursor: pointer;
   margin-left: 2.5rem;
   margin-right: 8rem;
    
    
    box-shadow: 0 4px 8px 0
    rgba(0,0,0,0.2);
    height: 235px;
  }
  .garde {
    grid-area: e;
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: white;
    cursor: pointer;
    margin-left: 2.5rem;
    margin-right: 8rem;
    
    box-shadow: 0 4px 8px 0
    rgba(0,0,0,0.2); 
    margin-bottom: 0rem;
    height: 235px;
  }
  .parc{
    grid-area: f;
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: white;
    cursor: pointer;
    margin-left: 2.5rem;
    margin-right: 8rem;
    box-shadow: 0 4px 8px 0
    rgba(0,0,0,0.2);
    height: 235px;
   
  }


.activites-image-grande
{
background-size: cover;
width: 460px;
height:170px;
border-radius: 1rem 1rem 0 0;
display: flex;
object-fit: cover;
cursor: pointer;
}
.activites-image
{ background-size: cover;
  width: 460px;
  height:170px;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  object-fit: cover;
  
  
}

.activites-image-fort
{
background-size: cover;
  width: 460px;
  height:170px;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  object-fit: cover;
  
  margin: 0 0 0 0;
 
}

.activites-image-iles
{
background-size: cover;
  width: 460px;
  height:170px;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  object-fit: cover;
  
}

}

/*----------------------partie footer-----------------*/
@media screen and (max-width: 650px)
 {
  .contenu-footer
  {
    grid-template-columns: repeat(1, 3fr) ;
    grid-template-areas: 
    "a"
    "b"
    "c";

    grid-column-gap: 0rem;
    grid-row-gap: 1rem;
    height: auto;
    width: 33.5rem;}
   

    .footer-services1
    {
      grid-area: a;
      width: max-content;
     
      margin-left: 2rem;
      margin-top: 2rem;
      grid-area: a;}

    .footer-services2
    {
      grid-area:b;
      width: max-content;
      margin-top: 0;
      margin-bottom: 0rem;
      margin-left: 2rem;
      grid-area:b;
    }
    .footer-services3
    {
      grid-area: c;
      width: max-content;
      margin-top: 0;
      margin-bottom: 2rem;
      
      padding-right: 0rem;
      grid-area: c;
      padding-left: 2rem;}

    .texte-footer
    {
     font-size: 1.1rem;
     margin-left: 1rem;
     line-height: 1rem;}
    .titre-footer
    {
      font-size: 1.3rem;
      margin-bottom: 0.8rem;
     }
    }