
  /* définition d'une nouvelle police raleway*/
    
body{ font-family: 'Raleway', sans-serif;
  margin: 0;
}



/*----------header navigation-----------------*/


.logo
{
padding-top: 2rem;
}
header
{
    display: flex;
   justify-content: space-between;
   margin: 0 26px;
}

.menu
{
  align-items: flex-end;
  height: 54px;
  display: flex;
}
div.description
{
  margin: 2rem;
}
    
 ul
 {
   list-style: none;
   padding: 0;
   margin:0;
}
li

{
  line-height: auto;
  display: inline;
  margin-left: 1.5rem;
  margin-right: 3rem;
}
.Activités

{
  color: grey;
  text-decoration: none;
}
.Hébergements

{
   text-decoration: none;
   border-top: 0.3rem solid #0065FC;
   padding-top: 2rem;
   color: #0065FC;
  }

.Inscription

{
  text-decoration: none;
  color: #0065FC;
}

h1

{
font-size: 1.5rem;
line-height: 1rem;
margin: 0rem 6rem 0.5rem 0rem;
}

span

{
  color: darkgrey;
  font-size: 1rem;
  line-height: 2rem;
 
  
}

.boutton
{
  background-color: #0065FC;
  color: white;
  padding: 0.8rem 0.8rem;
  border-radius: 0px 15px 15px 0px;
  border:0.1rem #f2f2f2 solid;
}
input
{
  background-color: white;
  padding: 0.8rem 0.8rem;
  border: 0.1rem #f2f2f2 solid;
}
span.place-icon
{
  color: black;
  padding: 0.9rem 0.8rem;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  border: 0.1rem #f2f2f2;
}

h2

{
  font-size: 1rem;
  float: left;
}

/*------------------------------FILTRES--------------------------*/

.filtre-name
{
margin-left: 2rem;
font-family: 'Raleway';
}
  div.economique
  {
    color: black;
    border: solid #f2f2f2 0.1rem;
    padding: 0.6rem 1rem 0.6rem 3rem;
    border-radius: 25px 25px 25px 25px;
    position: relative;
    font-family: 'Raleway';
    
   
  }

  i.fas.fa-money-bill-wave::before
  {
    vertical-align: auto;
    padding: 0.6rem 0.5rem;
    border-radius: 30px 30px 30px 30px;
    border: solid #f2f2f2 0.1rem;
    background-color: #deebff;
    color: #0065FC;
    position: absolute;
  }

  div.familial
  {
    color: black;
    margin: 0rem;
    border: solid #f2f2f2 0.1rem;
    padding: 0.6rem 1rem 0.6rem 3rem;
    border-radius: 25px 25px 25px 25px;
    position: relative;
    font-family: 'Raleway';
    
  }

  i.fas.fa-child::before
  {
   
    padding: 0.6rem 0.7rem ;
    border-radius: 30px 30px 30px 30px;
    border: solid #f2f2f2 0.1rem;
    background-color: #deebff;
    position: absolute;
    color: blue;
  }
  div.romantique
  {
    color: black;
    margin: 0rem;
    border: solid #f2f2f2 0.1rem;
    padding: 0.6rem 1rem 0.6rem 3rem;
    text-justify: auto;
    border-radius: 25px 25px 25px 25px;
    position: relative;
    font-family: 'Raleway';
   
  }

  i.fas.fa-heart::before
  { 
    padding: 0.6rem 0.6rem;
    border-radius: 30px 30px 30px 30px;
    border: solid #f2f2f2 0.1rem;
    background-color: #deebff;
    position: absolute;
    color: blue;
    
  }

  div.animaux
  {
    
    color: black;
    
    border: solid #f2f2f2 0.1rem;
    text-justify: auto;
    padding: 0.6rem 1rem 0.6rem 3rem;
    border-radius: 25px 25px 25px 25px;
    position: relative;
   white-space: normal;
 word-spacing: 0.1rem;
 font-family: 'Raleway';
   
    
  }

  i.fas.fa-dog::before
  {
    padding: 0.6rem 0.5rem;
    border-radius: 30px 30px 30px 30px;
    border: solid #f2f2f2 0.1rem;
    background-color: #deebff;
    position: absolute;  
    color: blue;
  }

 
  
  i.fas.fa-info::before
  {
  
    color: #0065FC;
    border: solid #f2f2f2 0.1rem;
    border-radius: 30px 30px 30px 30px;
    font-size: 0.6rem; 
    padding: 0.3rem 0.5rem;
    top: 0.7rem;
   
    left: 2rem;
   position: absolute;
  
   
  }

div.info
{
  font-family: 'Raleway';
}
  div.information
  {
  padding-top: 1rem;
  padding-left: 4rem;
  padding-bottom: 1rem;
   font-size: 0.9rem;
    color:grey;
    position: relative;
   font-family: 'Raleway';
   
  }

  p.info
  {
margin: 2rem;
  }
 
  div.Filtres

  {
    color: black;
    flex: auto;
   word-spacing: 1.2rem;
   letter-spacing: normal;
   padding-left: 1rem;
   font-size: 1rem;
    }
  
  h2
    {
font-size: 0.8rem;
line-height: 1rem;
margin: 0rem 0rem 0rem 0rem;
padding: 1rem 2rem 1rem 1rem;
    }
  
  /*----------------------------------------Hebergements-------------------------*/

  .hebergements
  {
    display: flex;
  }
  .hebergements-image
   {
    background-size: cover;
    width: 200px;
    height:110px;
    border-radius: 1rem 1rem 0 0;
    margin-top: 0.3rem;
    margin-right: 0.3rem;
    display: flex;
    object-fit: cover;
    }


    .gallery-hebergements
    {
      display: grid;
      grid-template-columns: repeat(3, 1fr) ;
      grid-column-gap: 25px;
      grid-row-gap: 5px;
      width:100%;
      
      
      grid-template-areas: 
                    "a b c"
                    "d e f";
      align-items:flex-end;
    }
    .item1 {
      grid-area: a;
    }
    .item2 {
      grid-area: b;
    }
    .item3 {
      grid-area: c;
    }
    .item4 {
      grid-area: d;
    }
    .item5 {
      grid-area: e;
    }
    .item6 {
      grid-area: f;
    }
  
    
    div.hebergements-marseille
    {
      width: 10%;
     height: 50%;
     display: flex;

    }
    
    
/*----------fond gris---------*/

  .gallery-hebergements
    {
      background-color: #f2f2f2;
      border-radius: 1rem 1rem 1rem 1rem;
      padding: 1.5rem 1.5rem 1.5rem 1rem;
      margin-left: 2rem;
      
      
      width: 45rem;
      height: 32.5rem;

    }

    /*-----fin fond gris-----*/

    h2.title
    {
      position: absolute;
      top: 21rem;
      left: 3.1rem;
      font-size: 1.2rem;
     
     

    }

    div.afficher
    {
      position: absolute;
     top: 52rem;
     left: 4rem;
     font-size: 0.9rem;
     font-weight: bold;
    }

    .grade-stars
    {
      color:#0065FC;
      font-size: 0.6rem;
      line-height: 0.4rem;
      padding-left: 0.2rem;
    }

    i.fa.fa-star
    {
    color:#f2f2f2
    }
    
  h3.titre-hebergement
  {
    font-size: 0.8rem;
    line-height: 0.3rem;
    padding-left: 0.2rem;
  
  }
  p.caption
  {
    font-size: 0.6rem;
    line-height: 0.4rem;
    padding-left: 0.2rem;
  }

    /*-----fond blanc image-----*/

    .item1
    {
      padding-left: 0.3rem;
      margin-left: 0.8rem;
      margin-top: 1.2rem;
     
      
      
      border-radius: 1rem 1rem 1rem 1rem;
      background-color: white;
      height: 11rem;
      
      box-shadow: 0 4px 8px 0
      rgba(0,0,0,0.2);
    
    }

    .item2
    {
      padding-left: 0.3rem;
      margin-left: 0.8rem;
     
      
      border-radius: 1rem 1rem 1rem 1rem;
      background-color: white;
      height: 11rem;
  
      box-shadow: 0 4px 8px 0
      rgba(0,0,0,0.2);
    }

  .item3
  {
  padding-left: 0.3rem;
  margin-left: 0.8rem;
  

  border-radius: 1rem 1rem 1rem 1rem;
  background-color: white;
  height: 11rem;

  box-shadow: 0 4px 8px 0
  rgba(0,0,0,0.2);
}

.item4
{
padding-left: 0.3rem;
margin-left: 0.8rem;
margin-bottom: 5rem;

border-radius: 1rem 1rem 1rem 1rem;
background-color: white;
height: 11rem;


box-shadow: 0 4px 8px 0
rgba(0,0,0,0.2);
}

.item5
{
  padding-left: 0.3rem;
  margin-left: 0.8rem;
  border-radius: 1rem 1rem 1rem 1rem;
background-color: white;
height: 11rem;
margin-bottom: 5rem;

box-shadow: 0 4px 8px 0
rgba(0,0,0,0.2);
}

.item6
{
  padding-left: 0.3rem;
  margin-left: 0.8rem;
  border-radius: 1rem 1rem 1rem 1rem;
background-color: white;
height: 11rem;
margin-bottom: 5rem;

box-shadow: 0 4px 8px 0
rgba(0,0,0,0.2);
}
  
/*-----------------------les plus populaires-------------------------*/

/*fond gris*/

.gallery-populaires
{
  background-color: #f2f2f2;
  border-radius: 1rem 1rem 1rem 1rem;
  padding: 4rem 2rem 2rem 1rem;
  margin-left: 3rem;
  
  
  width: 25rem;
  height: 30rem;

}
/*fin fond gris*/

.cote-populaire
{
  display: flex;
}

.hebergements-images-populaires
{
  background-size: cover;
    width: 130px;
    height:119px;
    border-radius: 1rem 0rem 0 1rem;
    margin-top: 0.3rem;
    display: flex;
    object-fit: cover;
}

.title-populaire
{
  top: 21rem;
  right: 22rem;
  position: absolute;
  font-size: 1.1rem;
 
}

i.fas.fa-chart-line::before
{
  position: absolute;
  top: 22rem;
  right: 15rem;
  font-size: 1.1rem;
}
div.les-plus-populaires
{
display: flex;

}

/*fond blanc images*/

.item7
{
 display: flex;
  padding-left: 0.25rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 0.5rem;
 
  
  border-radius: 1rem 1rem 1rem 1rem;
background-color: white;
height: 7rem;
width: 25rem;
margin-bottom: 2.5rem;

box-shadow: 0 4px 8px 0
rgba(0,0,0,0.2);
}

.item8
{
  display: flex;
  padding-left: 0.3rem;
  margin-left: 0.5rem;
padding-bottom: 1rem;
padding-top: 0.09rem;

  border-radius: 1rem 1rem 1rem 1rem;
background-color: white;
height: 7rem;
width: 25rem;
margin-bottom: 2.5rem;

box-shadow: 0 4px 8px 0
rgba(0,0,0,0.2);
}

.item9
{
  display: flex;
  padding-left: 0.3rem;
  margin-left: 0.5rem;
padding-bottom: 1rem;

  border-radius: 1rem 1rem 1rem 1rem;
background-color: white;
height: 7rem;
width: 25rem;
margin-bottom: 2.5rem;

box-shadow: 0 4px 8px 0
rgba(0,0,0,0.2);
}

/*fin fond blanc image*/

h3.titre-hebergement-populaires
{
 
  font-size: 0.8rem;
  line-height: 0.3rem;
  padding-left: 10rem;
  padding-top: 1rem;
  
  

position: absolute;

}

p.caption-populaires
{
  display: flex;
position: absolute;
padding-top: 2rem;
padding-left: 8.5rem;
}

.grade-stars-populaires
{
  color:#0065FC;
  display: flex;
  font-size: 0.6rem;
  line-height: 0.4rem;
  padding-right:20rem;
  padding-top: 7rem;
}